a {
  text-decoration: none !important;
}

.nav-item:hover {
  background-color: #1d1d1d;
}

header img {
  height: 380px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
}

footer a {
  color: white;
}

.register {
  text-align: justify;
  padding: 100px;
}

.sign {
  padding: 100px;
  text-align: justify;
}

.transfer {
  padding: 100px;
  text-align: center;
}

.trfbank {
  padding: 80px;
  text-align: center;
}

.trfrek {
  padding: 80px;
  text-align: center;
}

.detail {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.Premium {
  padding: 3%;
  text-align: center;
}

.Redeem {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.premiumregis {
  outline: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  margin-right: 30%;
  margin-left: 30%;
}

.bayar {
  background-color: white;
  text-align: center;
}

.form {
  background-color: white;
  width: 420px;
  border: 1px solid black;
  padding: 50px;
  margin: auto;
}

.topup {
  width: 400px;
  border: 1px solid black;
  padding: 30px;
  margin: auto;
}

.container {
  text-align: center;
}
